/* Add your own styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');

header {
    background-color: navy;
    padding: 8%;
    text-align: center;

}

h1 {
    font-family:'Courier New', Courier, monospace 'Arial Narrow', Arial, sans-serif;
    color: white;
} 

table {
    font-family: 'roboto mono', monospace, arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    font-size: small;

  }





td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
tr:nth-child(even) {
    background-color: pink;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    text-align: center;
    
}

main > #result {
    padding-left: 15%;
    padding-right: 15%;
}





input {
    width: 80%;


}


  

  

